accelerate>=0.16.0,<1
bitsandbytes==0.39.0
boto3==1.28.57
botocore==1.31.57
click>=8.0.4,<9
datasets>=2.10.0,<3
deepspeed>=0.8.3,<0.9
einops==0.6.1
faiss-cpu==1.7.4
ipykernel==6.22.0
langchain==0.0.304
torch>=2.0
transformers==4.32.0
pytest==7.3.2
python-dotenv==1.0.0
wikipedia==1.4.0
pypdf==3.15.1
chromadb==0.4.6
sentence-transformers==2.2.2
duckduckgo-search==3.8.5
xmltodict==0.13.0
unstructured==0.10.16
streamlit==1.28.0